@import "./reset.scss";
@import "./variables.scss";
@import "./typography.scss";

body {
    height: 100vh;
}

#app {
    min-height: 100%;
}

.container {
    max-width: 80%;
    margin: auto;
    @media screen and ( min-width: 992px ) {
        & {
            max-width: 70%;
        }
    }
}
