* {
    font-family: "Open Sans", sans-serif;
}

li {
    list-style: none;
}

.list-inline {
    ul {  
        display: flex;
        li {
            margin: 0 0.625rem;
        }
    }
}

header {
    font-weight: 600;
    color: var(--custom-gray);
    a {
        @include a-custom(none, var(--custom-blue));
        display: flex;
        justify-content: center;
    }
}

main {
    font-weight: 600;
    color: white;
    a {
        @include a-custom(underline, inherit);
        display: flex;
        justify-content: center;
        padding: 0 5px;
    }
}

footer {
    font-weight: 400;
    color: white;

    h4 {
        margin: 0.625rem 0;
    }
  
    li {
        margin: 0.0625rem 0;
    }

    a {
        @include a-custom(underline, grey);
        font-weight: 500;
        font-size: 0.75rem;
        color: gray;
    }

    .footer-bottom {
        span {
            font-weight: bold;
            color: var(--custom-blue);
        }
    }
}
